.nav-link {
  font-size: xx-large;
  cursor: pointer;
}

.navbar-panel {
  background-color: lightskyblue;
  height: fit-content;
}
.navbar-panel .nav-link.active {
  color: #007ACC
}

.navbar-brand {
  margin-left: 10px;
}

.container {
  font-size: 18px;
}
